[Desktop Entry]
Type=Application
Name=Install Tejas OS
Comment=Install Tejas OS on your computer
Exec=pkexec calamares
Icon=system-installer
Terminal=false
Categories=System;
