[Desktop Entry]
Type=Application
Name=Install Tejas Linux
Comment=Install Tejas Linux to disk
Exec=pkexec /usr/bin/calamares
Icon=system-installer
Terminal=false
Categories=System;Installer;
StartupNotify=true
